<a href="https://colab.research.google.com/github/devAquino/Analise-de-dados-com-Python-e-Pandas/blob/main/Estat%C3%ADstica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Explorando um conjunto de dados (temperaturas)

In [ ]:
import pandas as pd
import numpy as np
from math import log

In [ ]:
temperatura = [98.60,98.60,98.00,98.00,99.00,98.40,98.40,98.40,98.40,98.60,98.60,98.80,98.60,97.00,97.00,98.80,97.60,97.70,98.80,98.00,98.00,98.30,98.50,97.30,98.70,97.40,98.90,98.60,99.50,97.50,97.30,97.60,88.20,99.60,98.70,99.40,98.20,98.00,98.60,98.60,97.20,98.40,98.60,98.20,98.00,97.80,98.00,98.40,98.60,98.60,97.80,99.00,96.50,97.60,98.00,96.90,97.60,97.10,97.90,98.40,97.30,98.00,97.50,97.60,98.20,98.50,98.80,98.70,97.80,98.00,97.10,97.40,99.40,98.40,98.60,98.40,98.50,98.60,98.30,98.70,98.80,99.10,98.60,97.90,98.80,98.00,98.70,98.50,98.90,98.40,98.60,97.10,97.90,98.80,98.70,97.60,98.20,99.20,97.80,98.00,98.40,97.80,98.40,97.40,98.00,97.00]

Ordenando a lista em ordem crescente

In [ ]:
temperatura.sort()
print(temperatura, end=" ")

[88.2, 96.5, 96.9, 97.0, 97.0, 97.0, 97.1, 97.1, 97.1, 97.2, 97.3, 97.3, 97.3, 97.4, 97.4, 97.4, 97.5, 97.5, 97.6, 97.6, 97.6, 97.6, 97.6, 97.6, 97.7, 97.8, 97.8, 97.8, 97.8, 97.8, 97.9, 97.9, 97.9, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.0, 98.2, 98.2, 98.2, 98.2, 98.3, 98.3, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.5, 98.5, 98.5, 98.5, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.7, 98.7, 98.7, 98.7, 98.7, 98.7, 98.8, 98.8, 98.8, 98.8, 98.8, 98.8, 98.8, 98.9, 98.9, 99.0, 99.0, 99.1, 99.2, 99.4, 99.4, 99.5, 99.6]

Calculando a amplitude da variação de dados(amp)

In [ ]:
amp = max(temperatura)-min(temperatura)
amp

11.399999999999991

Arredondando a amplitude para mais

In [ ]:
amp = round(amp,2)
amp

11.4

Retornando o tamanho da lista

In [ ]:
n = len(temperatura)
n

106

Utilizando a Regra de Sturges

In [ ]:
k = 1 + log(n, 2)
k

7.727920454563199

Arredondando o resultado da Regra de Sturges para o próximo inteiro

In [ ]:
k = round(k+0.5)
k

8

Calculando o tamanho da classe

In [ ]:
h = amp/k
h

1.425

Arredondando o tamanho da classe para mais

In [ ]:
h = round(h, 2)
h

1.43

In [ ]:
round(min(temperatura)+ 1*h, 2 )

89.63

Capturando os intervalos da classe

In [ ]:
valores = []
for i in range(0, k+1):
    valores.append(round(min(temperatura)+ i*h, 2))
valores

[88.2, 89.63, 91.06, 92.49, 93.92, 95.35, 96.78, 98.21, 99.64]

In [ ]:


c = ['Contador']
df = pd.DataFrame(temperatura, columns=c)
intervalo = pd.cut(df['Contador'], valores).value_counts()
intervalo = intervalo.rename_axis('Classe').reset_index()
intervalo.sort_values(by='Classe')

           Classe  Contador
6   (88.2, 89.63]         0
5  (89.63, 91.06]         0
4  (91.06, 92.49]         0
3  (92.49, 93.92]         0
2  (93.92, 95.35]         0
1  (95.35, 96.78]         1
0  (96.78, 98.21]        48

Criando as classes como strings

In [ ]:
classe = ['88.20 |--- 89.63'], ['89.63 |-- 91.06 '], ['91.06 |-- 92.49 '], ['92.49 |-- 93.92  '], ['93.92  |-- 95.35 '],['95.35 |-- 96.78 '],['96.78 |-- 98.21  '],['98.21 |-- 99.64']

In [ ]:
temperatura = np.array([temperatura])
temperatura

array([[88.2, 96.5, 96.9, 97. , 97. , 97. , 97.1, 97.1, 97.1, 97.2, 97.3,
        97.3, 97.3, 97.4, 97.4, 97.4, 97.5, 97.5, 97.6, 97.6, 97.6, 97.6,
        97.6, 97.6, 97.7, 97.8, 97.8, 97.8, 97.8, 97.8, 97.9, 97.9, 97.9,
        98. , 98. , 98. , 98. , 98. , 98. , 98. , 98. , 98. , 98. , 98. ,
        98. , 98. , 98.2, 98.2, 98.2, 98.2, 98.3, 98.3, 98.4, 98.4, 98.4,
        98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.4, 98.5, 98.5,
        98.5, 98.5, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.6,
        98.6, 98.6, 98.6, 98.6, 98.6, 98.6, 98.7, 98.7, 98.7, 98.7, 98.7,
        98.7, 98.8, 98.8, 98.8, 98.8, 98.8, 98.8, 98.8, 98.9, 98.9, 99. ,
        99. , 99.1, 99.2, 99.4, 99.4, 99.5, 99.6]])

In [ ]:
c = ['Classe']
df= pd.DataFrame(temperatura, columns=c)
pd.cut(df['Classe'], 8)

microdados_enem_2019

# Explorando conjunto de dados criminal da França

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dados_criminal = pd.read_csv("/content/drive/MyDrive/Estatística/CausesOfDeath_France_2001-2008.csv")
dados_criminal.columns.values

Capturando colunas do dataset

In [ ]:
dados_criminal.columns.values

Selecionando colunas para trabalhar

In [ ]:
colunas_selecionadas = ['TIME', 'ICD10', 'Value']
criminal = dados_criminal.filter(colunas_selecionadas)
criminal

      TIME                                              ICD10    Value
0     2001    All causes of death (A00-Y89) excluding S00-T98  277 858
1     2001  Certain infectious and parasitic diseases (A00...    5 347
2     2001                                       Tuberculosis      545
3     2001                            Meningococcal infection       30
4     2001                                    Viral hepatitis      471
...    ...                                                ...      ...
1051  2008                                              Falls    2 815
1052  2008  Accidental poisoning by and exposure to noxiou...      630
1053  2008                              Intentional self-harm    2 768
1054  2008                                            Assault      166
1055  2008                       Event of undetermined intent       68

[1056 rows x 3 columns]

In [ ]:
#pd.concat([s1, s2], axis=1)
coluna_time = criminal['TIME']
coluna_icd10 = criminal['ICD10']
coluna_value = criminal['Value']
df = pd.concat([coluna_time, coluna_icd10, coluna_value], axis=1)
df

      TIME                                              ICD10    Value
0     2001    All causes of death (A00-Y89) excluding S00-T98  277 858
1     2001  Certain infectious and parasitic diseases (A00...    5 347
2     2001                                       Tuberculosis      545
3     2001                            Meningococcal infection       30
4     2001                                    Viral hepatitis      471
...    ...                                                ...      ...
1051  2008                                              Falls    2 815
1052  2008  Accidental poisoning by and exposure to noxiou...      630
1053  2008                              Intentional self-harm    2 768
1054  2008                                            Assault      166
1055  2008                       Event of undetermined intent       68

[1056 rows x 3 columns]

Renomeando as colunas

In [ ]:
df = df.rename({'TIME': 'Ano', 'ICD10': 'Causa da morte', 'Value': 'Quantidade de Óbitos'}, axis = 1)
df

       Ano  ... Quantidade de Óbitos
0     2001  ...              277 858
1     2001  ...                5 347
2     2001  ...                  545
3     2001  ...                   30
4     2001  ...                  471
...    ...  ...                  ...
1051  2008  ...                2 815
1052  2008  ...                  630
1053  2008  ...                2 768
1054  2008  ...                  166
1055  2008  ...                   68

[1056 rows x 3 columns]

In [ ]:
#df.groupby("state")["last_name"].count()
g = df.groupby('Ano')['Ano','Causa da morte','Quantidade de Óbitos']
g.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

      Ano  ... Quantidade de Óbitos
0    2001  ...              277 858
1    2001  ...                5 347
2    2001  ...                  545
3    2001  ...                   30
4    2001  ...                  471
..    ...  ...                  ...
929  2008  ...                  518
930  2008  ...               93 872
931  2008  ...               90 481
932  2008  ...                3 217
933  2008  ...                3 175

[80 rows x 3 columns]